.containerall{
  display:grid;
  grid-template-columns: 100%;
}
.normalbox{
  display:flex;
  justify-content: center;
}
li{
  flex-direction: column;
  font-size: 25px;
  margin-bottom: 20px;
}
#all{
  text-align: center;
  font-stretch: expanded;
}
#colorall{
  background-color: #00fffb;
}
